docs/_build/
*~
.vagrant/
.docker-build
fakes3_root/

# Various repositories
/antenna/
/antenna-catcher/
/antenna-debug-utils/
/antenna-loadtests/
/processor/
/socorro/
/socorro-infra/
/socorro-pigeon/
/notes/
/tmp/
